@model MODELS.EF.Detail

@{
    ViewBag.Title = "Phiếu thu";
}

<h2>Phiếu thu của khách hàng</h2>
    <table class="table">
        <tr>
            <th>Mã Hóa Đơn</th>
            <th>Số lượng</th>
            <th>Mã sản phẩm</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @{ 
            var s = 0;
        }
        @foreach (var item in ViewBag.Model)
        {
            <tr>
                <td>@item.IdInvoice</td>
                <td>@item.Amount</td>
                <td>@item.IdProduct</td>
                <td>@item.ExportPrice</td>
                <td>@item.Money</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            { s = s +(int) (item.Money); }
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Tổng tiền</td>
            <td>@s VND</td>
        </tr>
    </table>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
