@model MODELS.EF.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.IdCustomer)</dt>
        <dd>@Html.DisplayFor(model => model.IdCustomer)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdEmployee)</dt>
        <dd>@Html.DisplayFor(model => model.IdEmployee)</dd>

        <dt>@Html.DisplayNameFor(model => model.DaySell)</dt>
        <dd>@Html.DisplayFor(model => model.DaySell)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
