@model IEnumerable<OnlineShop.Models.InvoiceModel>

@{
    ViewBag.Title = "Hóa đơn";
}

<h2 style="color:#026BB8">Danh sách các hóa đơn</h2><hr />
<table class="table">
    <tr>
        <th>Tên khách hàng</th>
        <th>Người tạo</th>
        <th>Ngày tạo</th>
        <th>Lựa chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.ValueFor(modelItem => item.DaySell, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })|
                @Html.ActionLink("Xem phiếu thu", "Index", "Detail", new { id = item.ID }, null)
            </td>
        </tr>
    }
</table>
