@model MODELS.EF.Employee

@{
    ViewBag.Title = "Delete";
}

<h2 style="color:#026BB8">Xóa nhân viên</h2>

<h3>Bạn có muốn xóa nhân viên này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Họ tên</dt>
        <dd>@Html.TextBoxFor(model => model.Name)</dd>

        <dt>Giới tính</dt>
        <dd>@Html.TextBoxFor(model => model.Sex)</dd>

        <dt>Số điện thoại</dt>
        <dd>@Html.TextBoxFor(model => model.Phone)</dd>

        <dt>Sinh nhật</dt>
        <dd>@Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}")</dd>

        <dt>Địa chỉ</dt>
        <dd>@Html.TextBoxFor(model => model.Address)</dd>

        <dt>Tên tài khoản</dt>
        <dd>@Html.TextBoxFor(model => model.Username)</dd>

        <dt>Mật khẩu</dt>
        <dd>@Html.TextBoxFor(model => model.Password)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
