@model Project_Test2.Models.HOADON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NV.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NV.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
