@model Project_Test2.Models.DETAIL

@{
    ViewBag.Title = "Phiếu thu";
}

<h2>Phiếu thu của khách hàng</h2>

    <table class="table">
        <tr>
            <th>
                Mã Hóa Đơn
            </th>
            <th>
              Số lượng
            <th>
              Mã sản phẩm
            </th>
            <th>
               Đơn giá
            </th>
            <th>
               Thành tiền
            </th>
            <th></th>
        </tr>
        @{ 
            var s = 0;
        }
        @foreach (var item in ViewBag.Model)
        {
            <tr>
                <td>
                    @item.MAHD
                </td>
                <td>
                    @item.SOLUONG
                </td>
                <td>
                    @item.MASP
                </td>
                <td>
                    @item.GIABAN
                </td>
                <td>
                    @item.TIEN
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MADT }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MADT }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MADT })
                </td>
            </tr>


            { s = s +(int) (item.TIEN); }


        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Tổng tiền</td>
            <td>@s VND</td>
        </tr>

    </table>
   
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>



