@model Project_Test2.Models.Search

@{
    ViewBag.Title = "Tìm kiếm hóa đơn";
}
    <link href="~/Content/themes/StyleSheet1.css" rel="stylesheet" />
<h2 style="color:#026BB8;">Thống kê mua bán</h2>
<hr />


@using (Html.BeginForm("Search1", "DETAILs"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Thời gian</h4>
        <hr />
        <div class="form-group">
            @Html.Label("start", "Từ ngày", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("start", new { htmlAttributes = new { @class = "form-control" ,  autocomplete="off"} })
                @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("end", "Đến ngày", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("end", new { htmlAttributes = new { @class = "form-control" , autocomplete="off" } } ) 
                @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")


    <script src="~/Content/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#start,#end").datepicker({

                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });
        });


    </script>
    }

