@model IEnumerable<MODELS.EF.Employee>
@{
    ViewBag.Title = "Employee";
    ViewBag.Link = "/nhan-vien/danh-sach-nhan-vien";
    ViewBag.Description = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 table-responsive">
                            @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-4">
                                        <input type="text" name="stringSearch" />
                                    </div>
                                    <div class="col-2">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Search" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="col-md-offset-2 col-md-10">
                                            <a href="/nhan-vien/danh-sach-nhan-vien" class="btn btn-default">View All Employee</a>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="col-md-offset-2 col-md-10">
                                            <a href="/nhan-vien/them-nhan-vien" class="btn btn-default">Add Employee</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Phone</th>
                                <th>Birthday</th>
                                <th>Address</th>
                                <th>Position</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Sex)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                    <td>@Html.ValueFor(modelItem => item.Birthday, "{0:dd/MM/yyyy}")</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/nhan-vien/thong-tin-ca-nhan/@item.Id">
                                            <i class="fas fa-folder"></i>Detail
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="/nhan-vien/xoa-nhan-vien/@item.Id">
                                            <i class="fas fa-trash"></i>Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Phone</th>
                                <th>Birthday</th>
                                <th>Address</th>
                                <th>Position</th>
                                <th>#</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
