@model IEnumerable<Project_Test2.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
}

<div class="maintain-content-list">
    <div class="list-left">
        <div id="list">Khách hàng</div>
        <div id="arrow-right"></div>

    </div>

</div>
<p> @Html.ActionLink("Thêm khách hàng", "Create")</p>

<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Ghi chú
        </th>
        <th>Lựa chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SODT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GHICHU)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MAKH }) |
            
                @Html.ActionLink("Xóa", "Delete", new { id = item.MAKH })
            </td>
        </tr>
    }

</table>
