@model MODELS.EF.Product
@{
    ViewBag.Title = "Product/Create";
    ViewBag.Link = "/san-pham/them-san-pham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Product"))
{
    @Html.AntiForgeryToken()
    <form class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                @Html.Label("inputEmail3", "Name Product", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.NameProduct, new { id = "inputEmail3", @class = "form-control", placeholder = "Name Product" })
                    @Html.ValidationMessageFor(model => model.NameProduct, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Import Price", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ImportPrice, new { id = "inputEmail3", @class = "form-control", placeholder = "Import Price" })
                    @Html.ValidationMessageFor(model => model.ImportPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Export Price", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.ImportPrice, new { id = "inputEmail3", @class = "form-control", placeholder = "Import Price" })
                    @Html.ValidationMessageFor(model => model.ExportPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Profix(%)", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Profix, new { id = "inputEmail3", @class = "form-control", placeholder = "Profix" })
                    @Html.ValidationMessageFor(model => model.Profix, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Amount", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Amount, new { id = "inputEmail3", @class = "form-control", placeholder = "Amount" })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Guarantee", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Guarantee, new { id = "inputEmail3", @class = "form-control", placeholder = "Guarantee" })
                    @Html.ValidationMessageFor(model => model.Guarantee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("inputEmail3", "Sale(%)", new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Sale, new { id = "inputEmail3", @class = "form-control", placeholder = "Sale" })
                    @Html.ValidationMessageFor(model => model.Sale, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Product" class="btn btn-default" />
            </div>
        </div>
    </form>
}
