@model IEnumerable<MODELS.EF.Product>
@{
    ViewBag.Title = "Product";
    ViewBag.Link = "/san-pham/danh-sach-san-pham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">The Product List</h3>
                    <div class="">
                        <a href="/san-pham/them-san-pham">
                            <input type="button" value="Add Product" class="btn btn-default" />
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Import Price</th>
                                <th>Profix(%)</th>
                                <th>Sale(%)</th>
                                <th>Guarantee</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.NameProduct)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>@Html.DisplayFor(modelItem => item.ImportPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.Profix)%</td>
                                <td>@Html.DisplayFor(modelItem => item.Sale)%</td>
                                <td>@Html.DisplayFor(modelItem => item.Guarantee)</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="/san-pham/chi-tiet-san-pham/@item.Id">
                                        <i class="fas fa-folder"></i>Detail
                                    </a>
                                    <a class="btn btn-primary btn-sm" href="/san-pham/them-lo/@item.Id">
                                        <i class="fas fa-pencil-alt"></i>Thêm lô
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Import Price</th>
                                <th>Profix(%)</th>
                                <th>Sale(%)</th>
                                <th>Guarantee</th>
                                <th>#</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
